body {
  font-family: sans-serif;
  max-width: 1280px;
  margin: auto;
  text-align: center;
}

table {
  text-align: center;
  border: 1px solid black;
  margin: auto;
  width: 60%;
  color: green;
}
hr {
  margin: 3rem;
}
.contract {
  color: #e70c4d;
}
